@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    scroll-behavior: smooth;
}
body{
    background-color: #040C18;
}

.text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .bg-blue-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }

.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }


  .gradient__bg {
    background: -moz-radial-gradient(3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

  .text__heading{
    @apply text-white text-[32px] sm:text-[48px] font-bold md:text-[60px];
  }
  
  .text__body-gray{
    @apply text-gray-300 my-5 sm:text-[20px];
  }
.text__blue{
    font-size: 24px;
    color: rgb(0, 170, 255);
    padding-bottom: 1rem;

}
.text__heading-small{
    @apply text-[28px] sm:text-[32px] font-bold md:text-[44px] pb-8 text-center;
}
.text__orange{
    @apply text-orange-500 text-[20px] sm:text-[24px] md:text-[28px] font-bold;
}